XMPCore/build/CMakeFiles/
XMPFiles/build/CMakeFiles/
public/libraries/
XMPCore/build/XMPCore64.cbp
XMPFiles/build/cmake_install.cmake
XMPCore/build/Makefile
XMPCore/build/cmake_install.cmake
XMPFiles/build/Makefile
XMPFiles/build/XMPFiles64.cbp
XMPCore/build/buildData/
XMPFiles/build/buildData/
